{% extends 'base.html.twig' %}

{% block title %}Jenna{% endblock %}

{% block body %}
<div id="homepage">
    <h1>Hi there!</h1>
    <p>My name is Jenna. I come from Finland. I am currently studying full stack web development in Business College Helsinki.</p>
    <br>
    <p>My previous profession was engineer and I worked in a building painting company as a production manager for 8 years. I am now looking for new excitement and opportunities in life.</p>
    <br>
    <p>Check out my hobbies and favourite things by clicking the links in the up right corner.</p>
</div>
{% endblock %}
